<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>RGraph - Tree Animation</title>

<!-- CSS Files -->
<%= stylesheet_link_tag("visualization/baseforInHOR") %>
<%= stylesheet_link_tag("visualization/RGraph.css") %>

<!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->

<!-- JIT Library File -->
<%= javascript_include_tag("visualization/jit") %>

<!-- Example File -->
<%= javascript_include_tag("visualization/InHORVisualization") %>
</head>

<body onload="init();">
<div id="container">

<div id="left-container">



<div class="text">
<h3>
Subject Guide Visualization
</h3>

            Use this visualization to explore some of the subjects addressed within In Her Own Right's database.<br /><br /><br />
            <b>How to Navigate:</b> <br /><br />
            <b>Click</b> on a topic to move the visualization and center that topic.<br /><br />
            Subjects related to that topic appear in a list in the right column. <b>Click</b> on the highlighted links to view items related to that subject in the In Her Own Right database in a new tab.<br /><br />
            <b>Use the mouse wheel</b> to zoom in and out, and <b>drag and drop the canvas</b> to move around. <br /><br /><br />
            This visualization was created with the assistance of our Technical Committee and Data Jam and Metadata Enhancement participants using the open source <a href="http://philogb.github.io/jit/">InfoVis Toolkit</a>. Thank you!

</div>

<div id="id-list"></div>


<div style="text-align:center;"></div>
</div>

<div id="center-container">
    <div id="infovis"></div>
</div>

<div id="right-container">

<div id="inner-details"></div>

</div>

<div id="log"></div>
</div>
</body>
</html>
