<% if @production_env %>
  <script async src='https://cse.google.com/cse.js?cx=010065302005733270175:gqeauyc1jb8'></script>
<% else %>
  <script async src='https://cse.google.com/cse.js?cx=010065302005733270175:7xyptp5wsek'></script>
<% end %>
<div class='gcse-search'></div>
