<% if @production_env %>
  <script async src="https://cse.google.com/cse.js?cx=256c336196ebb4bf6"></script>
<% else %>
  <script async src="https://cse.google.com/cse.js?cx=541ecd33b1264b92d"></script>
<% end %>
<div class='gcse-search'></div>
