# Ignore bundler config.
/.bundle

/config/database.yml
.env

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/data

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/.bundle/.keep

# Ignore Byebug command history file.
.byebug_history
