<nav class="navbar navbar-expand-md navbar-dark topbar" role="navigation" aria-label="<%= t('spotlight.topbar.label') %>">
  <div class="<%= container_classes %>">
    <div id="header-navbar" class="navbar navbar-static-top">
      <a href="/">
        <div class="navbar-brand"></div>
      </a>
      <div id="header-text-wrapper">
        <h1 id="main-header-text">
          In Her Own Right
        </h1>
        <h3 id="main-header-subtitle">
          Women asserting their civil rights, 1820–1920
        </h3>
      </div>
    </div>
    <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
      <%= render partial: 'shared/user_util_links' %>
    </div>
  </div>
</nav>

<%= render 'shared/masthead' %>
