#header-navbar.navbar.navbar-inverse.navbar-static-top.row{role: "navigation"}
  %div{class: "#{container_classes}"}
    .row
      #header-text-wrapper.col-md-6
        %a{href: root_path}
          .navbar-header.navbar-brand
          %h1#main-header-text
            In Her Own Right
          %h3#main-header-subtitle
            Women asserting their civil rights, 1820–1920

#search-navbar.navbar.navbar-default.navbar-static-top.col-med-12{role: "navigation"}
  %div.container
    #search-container.col-sm-4
      = render_search_bar
    #navigation-container.col-md-8
      = render partial: 'shared/site_navigation'
