%row
  .col-md-4
    %br
    %br

    %p.lead
      Primary sources* and essays
      %br
      revealing stories of women's activism leading up to the right to vote.

    %p
      Long before the women's suffrage movement brought about the ratification of the Nineteenth Amendment in 1920, women were making themselves heard in a wide variety of ways that broadly transformed the American experience, including working for moral reform, abolition, and increased opportunities for education and employment. The Philadelphia region was among the most important centers for these movements.

    %p.small
      %em
        *Primary sources are documents or physical objects created at the time an event or historical moment occurred.

    // A primary source is an artifact, document, diary, manuscript, autobiography, a recording, or any other source of information that was created at the time under study.

  .col-md-8
    = render partial: 'landing_page_carousel'

.row
  .col-md-4
    %h3{align: "center"}
      EXPLORE
    %p
      %strong
        Crossing the divides?
      %div{style: "margin: 0px 0px 0px 10px"}
        How well did women of different classes and races work together to expand possibilities for women?
        %br
        %a{href: "work_and_friendship_across_racial_lines.html.md"}
          Exhibit: 19th Century Activism: Work and Friendship Across Racial Lines
    %p
      %strong
        Doing good or making rules?
      %div{style: "margin: 0px 0px 0px 10px"}
        In what ways did women working in education, poor relief, and health care try to coerce or control the behavior of others?
        %br
        %a{href: "the_complexity_of_activism.html.md"}
          Essay: The Complexity of Activism
        %br
        %br

  .col-md-4
    %h3{align: "center"}
      DISCOVER
    %p
      = link_to "Use the search and discovery tools to further explore resources, or browse the documents themselves.", '/catalog'
      %br
      %a{href: "../essays/exhibits_and_essays.html.md/" }
        Online exhibitions and essays that shed light on the above questions, and more.
      %br
      %br

  .col-md-4
    %h3{align: "center"}
      PLAY
    %p
      %a{href: "../play/data_access.html.md/"}
        See how others have used the data on this site ... then try it for yourself.


