.row
  .col-md-4
    %br
    %br

    %p.lead
      %a{href: "#", "data-toggle" => "tooltip", title: "Primary sources are documents or physical objects created at the time an event or historical moment occurred."}
        Primary sources and essays
      %br
      revealing stories of women's activism leading up to the right to vote.

    %p
      This website contains digital items such as letters, photographs, diaries, annual reports, etc., as well as collection descriptions summarizing archival collections. Accompanying some collection descriptions is a link to view digital items from that collection.
    %p
      Use the search box above to search all content included in the pilot system. To refine your search, use the selections to the left. (Use the "start over" button to clear your search refinements and start another search.)
    %p
      Explore the
      = link_to "list of all the collection descriptions.", search_catalog_path( f: {"is_collection_id_i" => ['is_collection_id_i']} )
      This information is also available as a
      %a{href: "/static_images/InHerOwnRight_CollectionGuide.pdf" }
        downloadable collections guide (PDF).

  .col-md-8
    = render partial: 'landing_page_carousel'

.row
  .col-md-4
    %h3{align: "center"}
      EXPLORE
    %p
      %strong
        Crossing the divides?
      %div{style: "margin: 0px 0px 0px 10px"}
        How well did women of different classes and races work together to expand possibilities for women?
        %br
        %a{href: "work_and_friendship_across_racial_lines.html.md"}
          Exhibit: 19th Century Activism: Work and Friendship Across Racial Lines
    %p
      %strong
        Doing good or making rules?
      %div{style: "margin: 0px 0px 0px 10px"}
        In what ways did women working in education, poor relief, and health care try to coerce or control the behavior of others?
        %br
        %a{href: "the_complexity_of_activism.html.md"}
          Essay: The Complexity of Activism
        %br
        %br

  .col-md-4
    %h3{align: "center"}
      DISCOVER
    %p
      Use search and browse tools to find documents and collection descriptions.
      %br
      %a{href: "/catalog" }
        Search and Browse
      %br

      %a{href: "../essays/collection_guides/" }
        View collection descriptions
      %br
      %br

  .col-md-4
    %h3{align: "center"}
      PLAY
    %p
      Access raw data and find tools for using the data.<br/>
      %a{href: "../play/data_access"}
        Data access and use

:javascript
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
