%tr
  %th{ scope: "row" }
    Digital materials
  %td
    = link_to "View items from the #{@record.dc_titles.first.title}", "/catalog?utf8=%E2%9C%93&search_field=collection&q=#{@record.dc_titles.first.title}"
