%tr
  %th{ scope: "row" }
    View Records in this Collection
  %td
    = link_to "View items from the #{@record.dc_titles.first.title}", search_catalog_path( f: {"collection_id_im" => [@record.id]} )
