- @record.dc_publishers.each do |dc_publisher|
  - if !dc_publisher.publisher.blank?
    %tr
      %th{ scope: "row" }
        Publisher
        %td
          = link_to dc_publisher.publisher, search_catalog_path( search_field: "publisher", q: @record.dc_publisher.first.publisher )
