- @record.all_creators.each do |creator|
  - if !creator.blank?
    %tr
      %th{ scope: "row" }
        Creator
      %td
        = link_to creator, search_catalog_path( search_field: "creator", q: creator )
