- if @record.dc_types.count > 1
  %tr
    %th{ scope: "row" }
      Types
    %td
      - @record.dc_types.each_with_index do |dc_type, index|
        = link_to dc_type.type, search_catalog_path( search_field: "type", q: dc_type.type )
        = "|" unless index == @record.dc_types.size - 1

- else
  - if !@record.dc_types.first.type.blank?
    %tr
      %th{ scope: "row" }
        Type
      %td
        = link_to @record.dc_types.first.type, search_catalog_path( search_field: "type", q: @record.dc_types.first.type )
