- if @record.all_creators.count > 1
  %tr
    %th{ scope: "row" }
      Creators
    %td
      - @record.all_creators.each_with_index do |creator, index|
        = link_to creator, search_catalog_path( search_field: 'creator', q: creator )

        = "|" unless index == @record.all_creators.size - 1

- else
  - if !@record.all_creators.blank?
    %tr
      %th{ scope: "row" }
        Creators
      %td
        - @record.all_creators.each do |creator|
          = link_to creator, search_catalog_path( search_field: 'creator', q: creator )