- @record.dc_contributors.each do |dc_contributor|
  %tr
    %th{ scope: "row" }
      Creator
      %td
        = link_to dc_contributor.contributor, search_catalog_path( search_field: "contributor", q: @record.dc_contributors.first.contributor )
