- @record.dc_descriptions.each_with_index do |dc_description, index|
  - if !dc_description.description.blank?
    %tr
      %th{ scope: "row" }
        Description
      %td
        = dc_description.description
