development:
  encoding: unicode
  adapter: postgresql
  database: pacscl_development
  pool: 5
  min_messages: WARNING

test:
  encoding: unicode
  adapter: postgresql
  database: pacscl_test
  pool: 5
  min_messages: WARNING

staging:
  encoding: unicode
  adapter: postgresql
  database: pacscl_staging
  username: postgres
  host: db
  pool: 5
  min_messages: WARNING

production:
  encoding: unicode
  adapter: postgresql
  database: pacscl_production
  username: postgres
  pool: 5
  host: db
  min_messages: WARNING