development:
  encoding: unicode
  adapter: postgresql
  database: pacscl_development
  username: test
  password: test1
  pool: 5
  host: db
  min_messages: WARNING

test:
  encoding: unicode
  adapter: postgresql
  database: pacscl_test
  username: test
  password: test1
  host: db
  pool: 5
  min_messages: WARNING

staging:
  encoding: unicode
  adapter: postgresql
  database: pacscl_staging
  username: test
  password: test1
  pool: 5
  min_messages: WARNING

production:
  encoding: unicode
  adapter: postgresql
  database: pacscl_production
  username: test
  password: test1
  pool: 5
  host: db
  min_messages: WARNING