<div class="page-header row">
  <h2 class="col-md-8 page-heading">In Her Own Right</h2>
  
  <ul class="nav nav-pills col-md-4">
    <li><a href="#">About</a></li>
    <li><a href="#">Development</a></li>
    <li><a href="#">PACSCL</a></li>
  </ul>

</div>

<div id="getting-started">
  <h3 class='section-heading'>Welcome/Project Description</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aperiam eum minima, vero molestiae. Velit quasi eligendi temporibus porro cumque culpa quas delectus reprehenderit, voluptas est perspiciatis pariatur, in. Consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aperiam eum minima, vero molestiae. Velit quasi eligendi temporibus porro cumque culpa quas delectus reprehenderit, voluptas est perspiciatis pariatur, in. Consequatur.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aperiam eum minima, vero molestiae. Velit quasi eligendi temporibus porro cumque culpa quas delectus reprehenderit, voluptas est perspiciatis pariatur, in. Consequatur.
  </p>