#getting-started
  %h3.section-heading
    Search the Collections
  %p
    This website contains digital items such as letters, photographs, diaries, annual reports, etc., as well as collection descriptions summarizing archival collections. Accompanying some collection descriptions is a link to view digital items from that collection.

 %p
 Use the search box above to search all content included in the pilot system. To refine your search, use the selections to the left. (Use the "start over" button to clear your search refinements and start another search.)
  
  %p
    Explore the
    %a{href: "http://pacscl.neomindlabs.com/catalog?f%5Bis_collection_id_i%5D%5B%5D=is_collection_id_i"}
      list of all the collection descriptions
    or use Collections Guide link above. This information is also available as a 
    %a{href: "/static_images/InHerOwnRight_CollectionGuide.pdf"}
      downloadable collections guide (PDF).
