#getting-started
  %h3.section-heading
    Search the Collections
  %p
    Use the search box above to search the materials in this pilot project. To refine your search, use the selections to the left. (Use the "start over" button to clear your search refinements and start another search.)

  %p
    The site also offers a searchable database for the brief descriptions of the many collections that were considered at the start of this project, as well as a
    %a{href: "/static_images/InHerOwnRight_CollectionGuide.pdf"}
      downloadable collections guide (PDF)
    of the same information -- also available from the "collection guide" link above.