<% content_for(:sidebar) do %>
  <%= render 'spotlight/shared/exhibit_sidebar' %>
<% end %>

<%= curation_page_title %>

<div class="pageHistory clearfix mb-4">
  <%= render 'page_activity' %>
</div>
