#header-navbar {
    background-color: #2b4562;
    height: 100px;
}

#header-navbar {
  .navbar-brand {  /* The main logo image for the Blacklight instance */
    height: 85px;
    background:transparent image_url("sm_light_logo.png") no-repeat top 5px left 2px;
    width: 95px;
    padding-right: 0em;
    margin-left: 1em;
  }

  #header-text-wrapper {
    border-bottom: solid 2px #fff;
    height: 87px;
  }

  #header-text-wrapper a:hover{
    text-decoration: none;
  }

  #main-header-text {
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 0.15em;
    color: #fff;
    line-height: 0.5em;
    font-weight: lighter;
    font-size: 2.84em;
  }

  #main-header-subtitle {
    font-family: "Garamond", "Times New Roman", "Times", serif;
    color: #bdbdbd;
    line-height: 0.5em;
    letter-spacing: 0.015em;
    font-size: 1.4em;
  }
   #navigation-container {
    padding-top: 25px;
  }

  #navigation-container a {
    color: #9d9d9d;
  }

  #navigation-container a:hover{
    color: #2b4562;
  }

  #navigation-container .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #edebe9;
    color: #2b4562;
  }
}

@media (max-width: 576px) {
  .for-search-field {
    display: none;
  }
}

@media (max-width: 768px) {
  #search-container {
    width: 80%;
  }
}

@media (max-width: 992px) {
  #header-navbar {
    .navbar-brand {  /* The main logo image for the Blacklight instance */
      background:transparent image_url("sm_light_logo.png") no-repeat top 0px left 2px;
    }
    #main-header-text {
      letter-spacing: 0em;
      font-size: 1.8em;
      line-height: 0;
      padding-top: 0.6em;
    }

    #main-header-subtitle {
      font-size: 1em;
      line-height: 1em;
      letter-spacing: 0em;
    }
  }
}

#search-container {
  margin: 0 2em 0 2em;
}

#navigation-container {
  margin-top: 8px;
}

#search-navbar .search-query-form {
  width: 100%;
}

.carousel-caption a {
  color: #FFF;
}

.collections_subhead {
  margin-top: 0;
  font-style: italic;
}


.marginBottom-0 {
  margin-bottom:0;
}

.dropdown-submenu{
  position:relative;
}
.dropdown-submenu>.dropdown-menu{
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
  width: 100%;
}
.dropdown-submenu>a:after {
  display:block;content:" ";
  float:right;
  width:0;
  height:0;
  border-color: transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
  border-left-color:#555;
}
.dropdown-submenu.pull-left {
  float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}



